* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
} 
$color-inst1: #81B622;
$color-inst2: #59981A;
$color-inst3: #3D550C;
$color-inst4: #ECF87F;
$color-inst5: white;

@mixin sizes($width, $height) {  
  width: $width;
  height: $height;
} 
body {
  background-color: $color-inst4; }  
a{
  text-decoration: none;
} 
a:hover{
  text-decoration: none;
}
header {
  @include sizes(100vw, 30vh);   
  display: flex;
  justify-content: space-between;
  align-items: center;   
  margin-bottom: 5vh;  
  position: relative;
  overflow: hidden;
  border-radius: 0 0 100% 0 / 30%; 
  background-image: linear-gradient( 135deg,  #81B622 10%, $color-inst3 100%);
  box-shadow: inset 0 -0.5em 1em rgba(0,0,0,0.4), 0 0 0 2px $color-inst4, 0.5em 0.5em 2.5em rgba(0,0,0,1);
      .header__titulo{
      font-family: "Cormorant Upright", serif;
      font-weight: bold;
      font-size: 4vw;
      word-spacing: 0.1vw;
      color: $color-inst3;
      text-transform: capitalize;      
      padding: 1vw;     
      margin: 1vh 0;     
      text-align:center;
      text-shadow: $color-inst2; 
      transition: transform 2s;     
      animation: aparecer 5s ease-in-out infinite;       
      }      
      .header__titulo:hover{ 
        font-size: 4.01vw; 
        transform: translateY(-1.2vh);           
        @keyframes aparecer {
          0% {
            color: $color-inst1;            
          }
          25% {
            color: $color-inst2;
          }
          50% {
            color: $color-inst3;
        }
          100% {
            color: $color-inst1;
          }
      }
      }      
} 
nav { 
  @include sizes(100vw, 10vh);       
    margin: 1vh 3vw 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    display: flex;
    justify-content: space-around;  
    a {  
      font-family: "Cormorant Upright", serif;
      font-weight: bold;           
      color: $color-inst4;  
      font-size: 2vw; 
      text-transform: capitalize;          
      text-align: center; 
      margin-left: 1vw; 
      transition: transform 1s;
      border-bottom: 4px solid $color-inst5;
      border-radius: 15%; 
      text-decoration: none;
      }
      a:hover{
        border-bottom: 4px solid $color-inst4;  
        text-decoration: none;
        color:$color-inst5;   
        transform: translateY(-1.2vh);
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($color-inst3, 75), 0 83px 4px 0px fadeout($color-inst3, 5);                  
      }
      a:active{  
        font-family: "Cormorant Upright", serif;
        font-weight: bold;           
        color: $color-inst4;  
        font-size: 1.9vw; 
        text-transform: capitalize;          
        text-align: center; 
        margin-left: 1vw; 
      } 
}  
 /* CAROUSEL */
@keyframes miAnimacion{	
	0%{
		opacity:1;
		}			
	40%{
		opacity:1;
    }
  50%{
    opacity:1;
    }
  60%{
    opacity:0;
    }    
  70%{
    opacity:0;
    }		
	100%{
		opacity:0;
		}
	}
	
@-webkit-keyframes miAnimacion{
	0%{
		opacity:1;
		}			
	40%{
		opacity:1;
    }
  50%{
    opacity:1;
    }
  60%{
    opacity:0;
    }    
  70%{
    opacity:0;
    }		
	100%{
		opacity:0;
		}
	}
	
@-moz-keyframes miAnimacion{
	0%{
		opacity:1;
		}			
	40%{
		opacity:1;
    }
  50%{
    opacity:1;
    }
  60%{
    opacity:0;
    }    
  70%{
    opacity:0;
    }		
	100%{
		opacity:0;
		}
  }
  
  .pseudoCarousel {
    #fondo1, #fondo3{
      position:absolute;
      @include sizes(100%, 100vh);
      background:url(../multimedia/home-black.png);
      background-position: center;
      background-size:cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 80% 0 80% 0 / 20%; 
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
      animation:miAnimacion 12s ease-in 0s infinite;
      -webkit-animation:miAnimacion 12s ease-in 0s infinite;
      -moz-animation:miAnimacion 12s ease-in 0s infinite;
      }
      
    #fondo2, #fondo4{
    position:relative; 
    @include sizes(100%, 100vh);  
    background:url(../multimedia/home-2-black.jpg);
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80% 0 80% 0 / 20%; 
    box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
    animation:miAnimacion 12s ease-in 6s infinite;
    -webkit-animation:miAnimacion 12s ease-in 6s infinite;
    -moz-animation:miAnimacion 12s ease-in 6s infinite;
    }    
      #fondo3{
      background:url(../multimedia/depilacion.jpg);
      background-position: center;
      background-size:cover;      
    }
      #fondo4{
      background:url(../multimedia/cooltech.png);
      background-position: center;
      background-size:cover;  
    }
  }
  /* FIN CAROUSEL */

.palabraMargen{
  font-family: "Cormorant Upright", serif;
    color: $color-inst1;   
    font-size: 7vw; 
    font-weight: bold;     
    word-spacing: 0.1vw;
    text-align: center;
    margin: 10vh 0;     
}
.palabraMargen1{
  font-family: "Cormorant Upright", serif;
    color: $color-inst3;   
    font-size: 7vw; 
    font-weight: bold;     
    word-spacing: 0.1vw;
    text-align: center;
    margin: 10vh 0;      
}  

/* IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */
.imgCorporal, .imgFacial{          
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;    
  @include sizes(100vw, 90vh);   
  box-shadow: inset .4em .4em .4em 4em  rgba(0,0,0,.8), .4em .4em .4em .4em rgba(0,0,0,.8);
  opacity: .8;
}
.imgCorporal{
  background-image: url('../multimedia/background.jpg');
  border-radius: 100% 0 0 0 / 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgFacial{
  background-image: url('../multimedia/tratamiento-facial-natural.webp');
  border-radius: 100% 0  0 0 / 30%; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* FIN IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */

/* CARACTERISTICAS TIPOGRAFICAS */
h1 {
  font-family: "Cormorant Upright", serif;
  color: $color-inst1;
  text-shadow:  0.2vw 0.2vh $color-inst2;
  font-size: 5vw; 
  font-weight: bold;     
  word-spacing: 0.1vw;
  text-align: center;
  margin-bottom: 10vh;
}        
h2, h3{
  font-family: "Cormorant Upright", serif;
  color: $color-inst3;   
  font-weight: bold;     
  word-spacing: 0.1vw;
  text-align: center;
  text-shadow:  1px 1px $color-inst4;
}
h4{
  font-family: "Cormorant Upright", serif;
  color: $color-inst4;      
  text-align: center;  
}
h5{
  font-family: "Cormorant Upright", serif;
  color: $color-inst4;      
  text-align: center;
}
p {
  font-family: "Cormorant Upright", serif;    
  font-size: 1.8vw;
  word-spacing: 0.1vw;
  line-height: 2vw;
  text-align: center;  
}
/* FIN CARACTERISTICAS TIPOGRAFICAS */

/* DISEÑOS DE CARDS */
.backgroundColor{
  background-color: $color-inst2;
  @include sizes(35vw, 55vh);  
  border: none;    
  margin: 3vh 2vw 5vh 2vw; 
  background-color: $color-inst1;
  border-radius: 0 100% 0 100% / 30%;
  .imgUp{
    @include sizes(100%, 45vh);   
    border-radius: 100% 0 100% 0 / 30%; 
    border: 10px solid $color-inst4;
    background-position: center;
    background-size: cover;
    }    
}
.card{
  border-radius: 100% 0 100% 0 / 30%; 
  border: 10px solid $color-inst1 !important; 
  background-color: $color-inst4;
  @include sizes(100%, 64vh);
  text-align: start !important;
  padding: 4vh 1vw;
}
.btn{
  border-radius: 100% 0 100% 0 / 30%;
  background-color: $color-inst2;
  border: 2px solid $color-inst1 !important;   
}
/* FIN DISEÑOS DE CARDS */

  /* INDEX */
    .sectionP{
      background-color: $color-inst1;
      @include sizes(100vw, 86vh);       
      margin: 10vh 0;      
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;  
      border-radius: 0 100% 0 100% / 20%;  
      padding: 5vh 2vw;
        
    .tituloSectionP{
        margin-top: 4vh;
        padding: 2vh 10vw;
    }       
    .sectionP__texto{
      color: $color-inst4;   
      text-align: center;  
      padding: 2vh 5vw;    
  }  
  .sectionP__texto1{
    color: $color-inst3;   
    text-align: center;  
    padding: 2vh 6vw;
  }         
}
  /* FIN INDEX */
  
  /* NOSOTROS */
  
  .cinco{
    display: flex;
    flex-wrap: wrap;          
    .cincoSeis{      
        display: flex;
        flex-direction: column;    
        align-items: center;
        padding: 1vh 4vw 1vh 4vw;
        @include sizes(33%, 100vh); 
    }    
     img{
        border-radius: 100%;
        border: 8px solid $color-inst4;
    }
    .nombre {        
        font-weight: 500;
        color: $color-inst3;
        font-size: 2vw;
        text-transform: capitalize; 
    }
    .matricula {        
        font-weight: 400;
        color:$color-inst2;
        font-size: 1.5vw;
        text-transform: uppercase;         
    }
  }   
/* CONTACTO */
form {
  font-family: "Cormorant Upright", serif;
  font-size: 3vh;
  margin: 10vh 18vw 10vh;  
  color: $color-inst1;
  .location,.signDate,.nameDatePhon { 
    display: flex;
    flex-direction: row;           
  }
  input {
    padding: 1vh 2vw 0 2vw;
    margin:0 1vw 0 0.5vw;
    border: none;    
    background-color: $color-inst4;
    color: $color-inst3;
    
  }
  .closestSchool, .positionPlay,.size, .signDate{
    display: flex;
  }
  .wholeLine1{
    margin-left: 5vw; 
  }
  .wholeLine input {
    width: 76%;   
  }
  .location input{
    width: 20.5vw;
  }
  .closestSchool{
    display: flex;
    justify-content: space-between;
  }
} 

div{
  margin-bottom: 1vh;
}
div p {
margin-bottom: 2vh;
}
.horarioAtencion{
  text-align: center;
}
iframe{
  border-radius: 10%;  
  @include sizes(40vw, 50vh); 
  border: 4px solid $color-inst2;
}
/* FIN CONTACTO */
.infoImportant {   
  padding: 2vw;
}
/* FOOTER */
footer {
  position: relative;
  overflow: hidden;
  border-radius: 100% 0 0 0 / 30%;
  background: $color-inst4;
  @include sizes(100vw, 45vh);   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  box-shadow:
  inset 0 -0.5em 1em rgba(0,0,0,0.4),0 0  0 2px $color-inst2, 0.5em 0.5em 2.5em rgba(0,0,0,1);
  div p{
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .logoTiny{
    @include sizes(15%, 15%); 
    padding: 2vh 2vh 2vw;
    border-radius: 0;
  }
  div.social-media-links  {		
		overflow: hidden;
		padding-top: 2vh;
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
			margin: 0;
			padding: 0;
    }    
		a, div p #as {
			border-bottom: 0px solid rgba(0,0,0,0.95);
			border-radius: 4px;
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
			display: inline-block;
      height: 10vh;
			padding: 20px;
			position: relative;
			transition: .2s ease-in;
      width: 10vw;
			svg {
        left: -0.5vw;
        position: absolute;
        top: 6vh;
				@include sizes(10vw, 10vh); 
        &.glow {
          path, circle {
            fill: rgba(0,0,0,0);
          }
        }
				path, circle, .logoTiny {
					fill: $color-inst3;
					transition: .2s ease-in;
				}
			}
		}
		a:hover, div p #as:hover {
			transform: translateY(-4px);
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($color-inst3, 75), 0 83px 4px 0px fadeout($color-inst3, 5);
			svg {
        &.glow {
          filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
          filter: blur(2px);
          path, circle {
            fill: fadeout($color-inst3, 40);
          }
        }
        path, circle {
					fill: $color-inst2;
				}
			}
		}
  }  
}

#as{
  font-family: "Cormorant Upright", serif;
  font-weight: bold;           
  color: $color-inst3;  
  font-size: 1.5vw; 
  text-transform: capitalize;          
  text-align: center; 
  margin-left: 0.5vw; 
  transition: transform 1s;
  border-bottom: 4px solid $color-inst1; 
  text-decoration: none;
}
#as:hover{
  border-bottom: 4px solid $color-inst5;  
  text-decoration: none;
  color:$color-inst2;   
  transform: translateY(-1.2vh);                  
}

 /* FIN FOOTER */

/* GRID */

.grid {
  display: grid; 
  @include sizes(100vw, 100vh); 
  grid-template-columns:1fr 1fr;
  
  grid-template-areas:
    "header header"
    "titulo titulo"
    "principal principal"
    "cinco cinco"
    "sectionP2 sectionP2"    
    "pseudoCarousel pseudoCarousel"            
    "sectionP sectionP"       
    "infoCards infoCards"
    "infoCards2 infoCards2"
    "footer footer";

  header {
    grid-area: header;
  } 
  h1{
    grid-area: titulo;
  }
  section.sectionP2{
    grid-area: sectionP2;
  }
  section.cinco{
    grid-area: cinco;
  }
  .pseudoCarousel {
      grid-area: pseudoCarousel;     
  }
  .principal{
    grid-area: principal;
  }
    .sectionP {
      grid-area: sectionP;     
  }
    .infoCards {
      grid-area: infoCards;
  }
    .infoCards2 {
      grid-area: infoCards2;
  }
    footer {
      grid-area: footer;
  } 
}
// *************************************** Dispositivos extra pequeños (teléfonos verticales, menos de 576 px) ****************************
@media only screen and (max-width: 576px) {
  header {
    @include sizes(100vw, 17vh);   
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    margin-bottom: 5vh; 
    justify-content: center;
    align-items: center;        
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100% 0 / 30%; 
    background-image: linear-gradient( 135deg,  #81B622 10%, $color-inst3 100%);
    box-shadow: inset 0 -0.5em 1em rgba(0,0,0,0.4), 0 0 0 2px $color-inst4, 0.5em 0.5em 2.5em rgba(0,0,0,1);
        .header__titulo{
        font-family: "Cormorant Upright", serif;
        font-weight: bold;
        font-size: 4vw;
        word-spacing: 0.1vw;
        color: $color-inst3;
        text-transform: capitalize;      
        padding: 1vw;     
        margin: 1vh 0;     
        text-align:center;
        text-shadow: $color-inst2; 
        transition: transform 2s;     
        animation: aparecer 5s ease-in-out infinite;       
        }      
        .header__titulo:hover{ 
          font-size: 4.01vw; 
          transform: translateY(-1.2vh);   
          
          @keyframes aparecer {
            0% {
              color: $color-inst1;            
            }
            25% {
              color: $color-inst2;
            }
            50% {
              color: $color-inst3;
          }
            100% {
              color: $color-inst1;
            }
        }
        }      
  } 
  
  nav { 
    @include sizes(100vw, 10vh);       
      margin: 1vh 3vw 0 0;
      display: flex;
      align-items: center;  
      display: flex;
      justify-content: space-evenly;  
      a {  
        font-family: "Cormorant Upright", serif;
        font-weight: bold;           
        color: $color-inst4;  
        font-size: 2vw; 
        text-transform: capitalize;          
        text-align: center; 
        margin-left: 1vw; 
        transition: transform 1s;
        border-bottom: 4px solid $color-inst5;
        border-radius: 15%; 
        text-decoration: none;
        }
        a:hover{
          border-bottom: 4px solid $color-inst4;  
          text-decoration: none;
          color:$color-inst5;   
          transform: translateY(-1.2vh);
          box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($color-inst3, 75), 0 83px 4px 0px fadeout($color-inst3, 5);                  
        }
        a:active{  
          font-family: "Cormorant Upright", serif;
          font-weight: bold;           
          color: $color-inst4;  
          font-size: 1.9vw; 
          text-transform: capitalize;          
          text-align: center; 
          margin-left: 1vw; 
        } 
  }
/* CARACTERISTICAS TIPOGRAFICAS */
  h1 {
    font-family: "Cormorant Upright", serif;
    color: $color-inst1;
    text-shadow:  0.2vw 0.2vh $color-inst2;
    font-size: 5vw; 
    font-weight: bold;     
    word-spacing: 0.1vw;
    text-align: center;
    margin:5vh 0;
  }   
  h2, h3{
    font-family: "Cormorant Upright", serif;
    color: $color-inst3;    
    word-spacing: 0.1vw;
    text-align: center;
    text-shadow:  1px 1px $color-inst4;
    font-size: 4vw;
  }
  h4{
    font-family: "Cormorant Upright", serif;
    color: $color-inst4;      
    text-align: center;  
    font-size: 4vw;
  }
  h5{
    font-family: "Cormorant Upright", serif;
    color: $color-inst4;      
    text-align: center;
  }
  p {
    font-family: "Cormorant Upright", serif;    
    font-size: 2vw;
    word-spacing: 0.1vw;
    line-height: 2vw;
    text-align: center;  
  }
/* FIN CARACTERISTICAS TIPOGRAFICAS */

  @keyframes miAnimacion{	
    0%{
      opacity:1;
      }			
    40%{
      opacity:1;
      }
    50%{
      opacity:1;
      }
    60%{
      opacity:0;
      }    
    70%{
      opacity:0;
      }		
    100%{
      opacity:0;
      }
    }
    
  @-webkit-keyframes miAnimacion{
    0%{
      opacity:1;
      }			
    40%{
      opacity:1;
      }
    50%{
      opacity:1;
      }
    60%{
      opacity:0;
      }    
    70%{
      opacity:0;
      }		
    100%{
      opacity:0;
      }
    }
    
  @-moz-keyframes miAnimacion{
    0%{
      opacity:1;
      }			
    40%{
      opacity:1;
      }
    50%{
      opacity:1;
      }
    60%{
      opacity:0;
      }    
    70%{
      opacity:0;
      }		
    100%{
      opacity:0;
      }
    }
    
    .pseudoCarousel {
      #fondo1, #fondo3{
        position:absolute;
        @include sizes(100%, 60vh);
        background:url(../multimedia/home-black.png);
        background-position: center;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 80% 0 80% 0 / 20%; 
        box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
        animation:miAnimacion 12s ease-in 0s infinite;
        -webkit-animation:miAnimacion 12s ease-in 0s infinite;
        -moz-animation:miAnimacion 12s ease-in 0s infinite;
        }
        
      #fondo2, #fondo4{
      position:relative; 
      @include sizes(100%, 60vh);  
      background:url(../multimedia/home-2-black.jpg);
      background-position: center;
      background-size:cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 80% 0 80% 0 / 20%; 
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
      animation:miAnimacion 12s ease-in 6s infinite;
      -webkit-animation:miAnimacion 12s ease-in 6s infinite;
      -moz-animation:miAnimacion 12s ease-in 6s infinite;
      }    
      
        #fondo3{
        background:url(../multimedia/depilacion.jpg);
        background-position: center;
        background-size:cover; 
      }
        #fondo4{
        background:url(../multimedia/cooltech.png);
        background-position: center;
        background-size:cover;
      }
    }

    .sectionP, .sectionP2{
      background-color: $color-inst1;
      @include sizes(100vw, 70vh);       
      margin-top: 8vh;      
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;  
      border-radius: 0 100% 0 100% / 20%;        
        
    .tituloSectionP{
        margin-top: 4vh;
        padding: 0 2vw;
    }       
    .sectionP__texto{
      color: $color-inst4;   
      text-align: center;  
      padding: 2vh 5vw;    
  }  
  .sectionP__texto1{
    color: $color-inst3;   
    text-align: center;  
    padding: 2vh 6vw;
  }         
}
p {
  font-family: "Cormorant Upright", serif;    
  font-size: 3vw;
  word-spacing: 0.2vw;
  line-height: 2.5vw;
  text-align: center;  
}
/* DISEÑOS DE CARDS */
.backgroundColor{
  @include sizes(90vw, 45vh);  
  border: none;    
  margin: 3vh 2vw 5vh 2vw; 
  background-color: $color-inst1;  
  border-radius: 0 100% 0 100% / 30%;
  .imgUp{
    @include sizes(100%, 40vh);   
    border-radius: 100% 0 100% 0 / 30%; 
    border: 10px solid $color-inst4;
    background-position: center;
    background-size: cover;
    }    
}
.card{
  border-radius: 100% 0 100% 0 / 30%; 
  border: 10px solid $color-inst1 !important; 
  background-color: $color-inst4;
  @include sizes(100%, 36vh);
  text-align: start;
  padding: 1vh 0;
  margin-right: 3vw;
}

/* IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */
.imgCorporal, .imgFacial{          
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;    
  @include sizes(100vw, 60vh);     
  box-shadow: inset .4em .4em .4em 4em  rgba(0,0,0,.8), .4em .4em .4em .4em rgba(0,0,0,.8);
}
.imgCorporal{
  background-image: url('../multimedia/background.jpg');
  border-radius: 100% 0 0 0 / 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgFacial{
  background-image: url('../multimedia/tratamiento-facial-natural.webp');
  border-radius: 100% 0  0 0 / 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FIN IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */
.cinco{
  display: flex;
  flex-direction: column !important;  
  justify-content: center !important;      
  align-items: center !important;  
  .cincoSeis{      
    display: flex;
    flex-direction: column;    
    align-items: center;
    @include sizes(60vw,60vh);      
  }    
   img{
      border-radius: 100%;
      border: 8px solid $color-inst4;
  }
  .nombre {        
      font-weight: 500;
      color: $color-inst3;
      font-size: 2vw;
      text-transform: capitalize; 
  }
  .matricula {        
      font-weight: 400;
      color:$color-inst2;
      font-size: 1.5vw;
      text-transform: uppercase;         
  }
} 
/* CONTACTO */
form {
  font-family: "Cormorant Upright", serif;
  font-size: 3vh;
  margin: 10vh 10vw 10vh;  
  color: $color-inst1;  
  .closestSchool{
    display: flex;
    justify-content: space-between;
  }
}
.infoMap{
  display: flex;
  margin-left: 2vw;
  iframe{
    border-radius: 10%; 
    background-size: 20vw 20vh; 
  }
}
/* FIN CONTACTO */

/* FOOTER */
footer {
  @include sizes(100vw, 30vh);
}
 /* FIN FOOTER */

  .grid {
  display: grid; 
  @include sizes(100vw, 100vh);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;   
  grid-template-columns:1fr 1fr;
  
  grid-template-areas:
    "header header"
    "titulo titulo"
    "principal principal"
    "sectionP2 sectionP2"
    "cinco cinco"        
    "pseudoCarousel pseudoCarousel"            
    "sectionP sectionP"       
    "infoCards infoCards"
    "infoCards2 infoCards2"
    "footer footer";
  
    header {
      grid-area: header;
    } 
    h1{
      grid-area: titulo;
    }
    section.sectionP2{
      grid-area: sectionP2;
    }
    section.cinco{
      grid-area: cinco;
    }
    .pseudoCarousel {
        grid-area: pseudoCarousel;     
    }
    .principal{
      grid-area: principal;
    }
      .sectionP {
        grid-area: sectionP;     
    }
      .infoCards {
        grid-area: infoCards;
    }
      .infoCards2 {
        grid-area: infoCards2;
    }
      footer {
        grid-area: footer;
    } 
  }
}
  
// **************************************** Dispositivos Pequeños (telefonos en horizontal, 576px y más) ************************************
 
@media (min-width: 576px) and (max-width: 768px) {
  header {
    @include sizes(100vw, 17vh);   
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;       
    margin-bottom: 5vh;  
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100% 0 / 30%; 
    background-image: linear-gradient( 135deg,  #81B622 10%, $color-inst3 100%);
    box-shadow: inset 0 -0.5em 1em rgba(0,0,0,0.4), 0 0 0 2px $color-inst4, 0.5em 0.5em 2.5em rgba(0,0,0,1);
      .header__titulo{
      font-family: "Cormorant Upright", serif;
      font-weight: bold;
      font-size: 4vw;
      word-spacing: 0.1vw;
      color: $color-inst3;
      text-transform: capitalize;      
      padding: 1vw;     
      margin: 1vh 0;     
      text-align:center;
      text-shadow: $color-inst2; 
      transition: transform 2s;     
      animation: aparecer 5s ease-in-out infinite;       
      }      
      .header__titulo:hover{ 
        font-size: 4.01vw; 
        transform: translateY(-1.2vh);   
        
        @keyframes aparecer {
          0% {
            color: $color-inst1;            
          }
          25% {
            color: $color-inst2;
          }
          50% {
            color: $color-inst3;
        }
          100% {
            color: $color-inst1;
          }
      }
      }      
}                
    
  nav { 
    @include sizes(100vw, 10vh);       
      margin: 1vh 3vw 0 0;
      display: flex;
      align-items: center;  
      display: flex;
      justify-content: space-evenly;  
      a {  
        font-family: "Cormorant Upright", serif;
        font-weight: bold;           
        color: $color-inst4;  
        font-size: 2vw; 
        text-transform: capitalize;          
        text-align: center; 
        margin-left: 1vw; 
        transition: transform 1s;
        border-bottom: 4px solid $color-inst5;
        border-radius: 15%; 
        text-decoration: none;
        }
        a:hover{
          border-bottom: 4px solid $color-inst4;  
          text-decoration: none;
          color:$color-inst5;   
          transform: translateY(-1.2vh);
          box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($color-inst3, 75), 0 83px 4px 0px fadeout($color-inst3, 5);                  
        }
        a:active{  
          font-family: "Cormorant Upright", serif;
          font-weight: bold;           
          color: $color-inst4;  
          font-size: 1.9vw; 
          text-transform: capitalize;          
          text-align: center; 
          margin-left: 1vw; 
        }       
  }
/* CARACTERISTICAS TIPOGRAFICAS */
  h1 {
    font-family: "Cormorant Upright", serif;
    color: $color-inst1;
    text-shadow:  0.2vw 0.2vh $color-inst2;
    font-size: 5vw; 
    font-weight: bold;     
    word-spacing: 0.1vw;
    text-align: center;
    margin:5vh 0;
  }   
  h2, h3{
    font-family: "Cormorant Upright", serif;
    color: $color-inst3;    
    word-spacing: 0.1vw;
    text-align: center;
    text-shadow:  1px 1px $color-inst4;
    
  } 
  h4{
    font-family: "Cormorant Upright", serif;
    color: $color-inst4;      
    text-align: center;    
  }
  
/* FIN CARACTERISTICAS TIPOGRAFICAS */ 
    
    .pseudoCarousel {
      #fondo1, #fondo3{
        position:absolute;
        @include sizes(100%, 60vh);
        background:url(../multimedia/home-black.png);
        background-position: center;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 80% 0 80% 0 / 20%; 
        box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
        animation:miAnimacion 12s ease-in 0s infinite;
        -webkit-animation:miAnimacion 12s ease-in 0s infinite;
        -moz-animation:miAnimacion 12s ease-in 0s infinite;
        }
        
      #fondo2, #fondo4{
      position:relative; 
      @include sizes(100%, 60vh);  
      background:url(../multimedia/home-2-black.jpg);
      background-position: center;
      background-size:cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 80% 0 80% 0 / 20%; 
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
      animation:miAnimacion 12s ease-in 6s infinite;
      -webkit-animation:miAnimacion 12s ease-in 6s infinite;
      -moz-animation:miAnimacion 12s ease-in 6s infinite;
      } 
      #fondo3{
        background:url(../multimedia/depilacion.jpg);
        background-position: center;
        background-size:cover;             
      }
        #fondo4{
        background:url(../multimedia/cooltech.png);
        background-position: center;
        background-size:cover; 
      }        
    }

    .sectionP, .sectionP2{
      background-color: $color-inst1;
      @include sizes(100vw, 92vh);       
      margin-top: 8vh;      
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;  
      border-radius: 0 100% 0 100% / 20%;        
        
    .tituloSectionP{
        margin-top: 4vh;
        padding: 0 2vw;
    }       
    .sectionP__texto{
      color: $color-inst4;   
      text-align: center;  
      padding: 2vh 5vw;    
  }  
  .sectionP__texto1{
    color: $color-inst3;   
    text-align: center;  
    padding: 2vh 6vw;
  }         
}
p {
  font-family: "Cormorant Upright", serif;    
  font-size: 3vw;
  word-spacing: 0.2vw;
  line-height: 2.5vw;
  text-align: center;  
}

/* DISEÑOS DE CARDS */
.backgroundColor{
  @include sizes(90vw, 45vh);  
  border: none;    
  margin: 3vh 2vw 5vh 2vw; 
  background-color: $color-inst1;
  
  border-radius: 0 100% 0 100% / 30%;
  .imgUp{
    @include sizes(100%, 60vh);   
    border-radius: 100% 0 100% 0 / 30%; 
    border: 10px solid $color-inst4;
    background-position: center;
    background-size: cover;
    }    
}
.card{
  border-radius: 100% 0 100% 0 / 30%; 
  border: 10px solid $color-inst1 !important; 
  background-color: $color-inst4;
  @include sizes(100%, 45vh);
  text-align: start;
  padding: 1vh 0;
  margin-right: 3vw;
}

/* IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */
.imgCorporal, .imgFacial{          
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;    
  @include sizes(100vw, 60vh);     
  box-shadow: inset .4em .4em .4em 4em  rgba(0,0,0,.8), .4em .4em .4em .4em rgba(0,0,0,.8);
}
.imgCorporal{
  background-image: url('../multimedia/background.jpg');
  border-radius: 100% 0 0 0 / 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgFacial{
  background-image: url('../multimedia/tratamiento-facial-natural.webp');
  border-radius: 100% 0  0 0 / 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FIN IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */

/* CONTACTO */
form {
  font-family: "Cormorant Upright", serif;
  font-size: 3vh;
  margin: 10vh 10vw 10vh;  
  color: $color-inst1;  
  .closestSchool{
    display: flex;
    justify-content: space-between;
  }
}
.infoMap{
  display: flex;
  margin-left: 2vw;
  iframe{
    border-radius: 10%; 
    background-size: 20vw 20vh; 
  }
}
/* FIN CONTACTO */

/* FOOTER */
footer {
  @include sizes(100vw, 35vh);
}
 /* FIN FOOTER */


  .grid {
  display: grid; 
  @include sizes(100vw, 100vh);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;   
  grid-template-columns:1fr;
  
  grid-template-areas:
    "header header"
    "titulo titulo"
    "principal principal"
    "sectionP2 sectionP2" 
    "cinco cinco"       
    "pseudoCarousel pseudoCarousel"            
    "sectionP sectionP"       
    "infoCards infoCards"
    "infoCards2 infoCards2"
    "footer footer";
  
    header {
      grid-area: header;
    } 
    h1{
      grid-area: titulo;
    }
    section.sectionP2{
      grid-area: sectionP2;
    }
    section.cinco{
      grid-area: cinco;
    }
    .pseudoCarousel {
        grid-area: pseudoCarousel;     
    }
    .principal{
      grid-area: principal;
    }
      .sectionP {
        grid-area: sectionP;     
    }
      .infoCards {
        grid-area: infoCards;
    }
      .infoCards2 {
        grid-area: infoCards2;
    }
      footer {
        grid-area: footer;
    } 
  }
}


// **************************************** Dispositivos medianos (tabletas, 768px y más) *****************************************************
@media (min-width: 768px) and (max-width: 991px) {
  header {
    @include sizes(100vw, 25vh);   
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-bottom: 5vh;  
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100% 0 / 30%; 
    background-image: linear-gradient( 135deg,  #81B622 10%, $color-inst3 100%);
    box-shadow: inset 0 -0.5em 1em rgba(0,0,0,0.4), 0 0 0 2px $color-inst4, 0.5em 0.5em 2.5em rgba(0,0,0,1);
        .header__titulo{
        font-family: "Cormorant Upright", serif;
        font-weight: bold;
        font-size: 4vw;
        word-spacing: 0.1vw;
        color: $color-inst3;
        text-transform: capitalize;      
        padding: 1vw;     
        margin: 1vh 0;     
        text-align:center;
        text-shadow: $color-inst2; 
        transition: transform 2s;     
        animation: aparecer 5s ease-in-out infinite;       
        }      
        .header__titulo:hover{ 
          font-size: 4.01vw; 
          transform: translateY(-1.2vh);   
          
          @keyframes aparecer {
            0% {
              color: $color-inst1;            
            }
            25% {
              color: $color-inst2;
            }
            50% {
              color: $color-inst3;
          }
            100% {
              color: $color-inst1;
            }
        }
        }      
  } 
  
  nav { 
    @include sizes(100vw, 10vh);       
      margin: 1vh 3vw 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;  
      display: flex;
      justify-content: space-around;  
      a {  
        font-family: "Cormorant Upright", serif;
        font-weight: bold;           
        color: $color-inst4;  
        font-size: 2vw; 
        text-transform: capitalize;          
        text-align: center; 
        margin-left: 1vw; 
        transition: transform 1s;
        border-bottom: 4px solid $color-inst5;
        border-radius: 15%; 
        text-decoration: none;
        }
        a:hover{
          border-bottom: 4px solid $color-inst4;  
          text-decoration: none;
          color:$color-inst5;   
          transform: translateY(-1.2vh);
          box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($color-inst3, 75), 0 83px 4px 0px fadeout($color-inst3, 5);                  
        }
        a:active{  
          font-family: "Cormorant Upright", serif;
          font-weight: bold;           
          color: $color-inst4;  
          font-size: 1.9vw; 
          text-transform: capitalize;          
          text-align: center; 
          margin-left: 1vw; 
        } 
  }  
  
   /* CAROUSEL */
  @keyframes miAnimacion{	
    0%{
      opacity:1;
      }			
    40%{
      opacity:1;
      }
    50%{
      opacity:1;
      }
    60%{
      opacity:0;
      }    
    70%{
      opacity:0;
      }		
    100%{
      opacity:0;
      }
    }
    
  @-webkit-keyframes miAnimacion{
    0%{
      opacity:1;
      }			
    40%{
      opacity:1;
      }
    50%{
      opacity:1;
      }
    60%{
      opacity:0;
      }    
    70%{
      opacity:0;
      }		
    100%{
      opacity:0;
      }
    }
    
  @-moz-keyframes miAnimacion{
    0%{
      opacity:1;
      }			
    40%{
      opacity:1;
      }
    50%{
      opacity:1;
      }
    60%{
      opacity:0;
      }    
    70%{
      opacity:0;
      }		
    100%{
      opacity:0;
      }
    }
    
    .pseudoCarousel {
      #fondo1, #fondo3{
        position:absolute;
        @include sizes(100%, 100vh);
        background:url(../multimedia/home-black.png);
        background-position: center;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 80% 0 80% 0 / 20%; 
        box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
        animation:miAnimacion 12s ease-in 0s infinite;
        -webkit-animation:miAnimacion 12s ease-in 0s infinite;
        -moz-animation:miAnimacion 12s ease-in 0s infinite;
        }
        
      #fondo2, #fondo4{
      position:relative; 
      @include sizes(100%, 100vh);  
      background:url(../multimedia/home-2-black.jpg);
      background-position: center;
      background-size:cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 80% 0 80% 0 / 20%; 
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
      animation:miAnimacion 12s ease-in 6s infinite;
      -webkit-animation:miAnimacion 12s ease-in 6s infinite;
      -moz-animation:miAnimacion 12s ease-in 6s infinite;
      }    
        #fondo3{
        background:url(../multimedia/depilacion.jpg);
        background-position: center;
        background-size:cover;      
      }
        #fondo4{
        background:url(../multimedia/cooltech.png);
        background-position: center;
        background-size:cover;  
      }
    }
    /* FIN CAROUSEL */
  
  .palabraMargen{
    font-family: "Cormorant Upright", serif;
      color: $color-inst1;   
      font-size: 7vw; 
      font-weight: bold;     
      word-spacing: 0.1vw;
      text-align: center;
      margin: 10vh 0;     
  }
  .palabraMargen1{
    font-family: "Cormorant Upright", serif;
      color: $color-inst3;   
      font-size: 7vw; 
      font-weight: bold;     
      word-spacing: 0.1vw;
      text-align: center;
      margin: 10vh 0;      
  }  
  
  /* IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */
  .imgCorporal, .imgFacial{          
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;    
    @include sizes(100vw, 90vh);   
    box-shadow: inset .4em .4em .4em 4em  rgba(0,0,0,.8), .4em .4em .4em .4em rgba(0,0,0,.8);
    opacity: .8;
  }
  .imgCorporal{
    background-image: url('../multimedia/background.jpg');
    border-radius: 100% 0 0 0 / 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgFacial{
    background-image: url('../multimedia/tratamiento-facial-natural.webp');
    border-radius: 100% 0  0 0 / 30%; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  /* FIN IMAGEN PRINCIPAL: PAGES => TRATAMIENTO CORPORAL Y FACIAL */
  
  /* CARACTERISTICAS TIPOGRAFICAS */
  h1 {
    font-family: "Cormorant Upright", serif;
    color: $color-inst1;
    text-shadow:  0.2vw 0.2vh $color-inst2;
    font-size: 5vw; 
    font-weight: bold;     
    word-spacing: 0.1vw;
    text-align: center;
    margin-bottom: 10vh;
  }        
  h2, h3{
    font-family: "Cormorant Upright", serif;
    color: $color-inst3;   
    font-weight: bold;     
    word-spacing: 0.1vw;
    text-align: center;
    text-shadow:  1px 1px $color-inst4;
  }
  h4{
    font-family: "Cormorant Upright", serif;
    color: $color-inst4;      
    text-align: center;  
  }
  h5{
    font-family: "Cormorant Upright", serif;
    color: $color-inst4;      
    text-align: center;
  }
  
  p {
    font-family: "Cormorant Upright", serif;    
    font-size: 1.7vw;
    word-spacing: 0.1vw;
    line-height: 2vw;
    text-align: center;  
  }
  
  /* FIN CARACTERISTICAS TIPOGRAFICAS */
  
  /* DISEÑOS DE CARDS */
  .backgroundColor{
    @include sizes(100vw, 55vh);  
    border: none;    
    margin: 3vh 2vw 5vh 2vw; 
    background-color: $color-inst1;
    
    border-radius: 0 100% 0 100% / 30%;
    .imgUp{
      @include sizes(100%, 40vh);   
      border-radius: 100% 0 100% 0 / 30%; 
      border: 10px solid $color-inst4;
      background-position: center;
      background-size: cover;
      }    
  }
  .card{
    border-radius: 100% 0 100% 0 / 30%; 
    border: 10px solid $color-inst1 !important; 
    background-color: $color-inst4;
    @include sizes(100%, 60vh);
    text-align: start;
    padding: 1vh 0;
    margin-right: 3vw;
  }
  .btn{
    border-radius: 100% 0 100% 0 / 30%;
    background-color: $color-inst2;
    border: 2px solid $color-inst1 !important;   
  }
  /* FIN DISEÑOS DE CARDS */
  
    /* INDEX */
      .sectionP, .sectionP2{
        background-color: $color-inst1;
        @include sizes(100vw, 95vh);       /*  */
        margin: 10vh 0;      
        box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;  
        border-radius: 0 100% 0 100% / 20%;  
        padding: 4vh 2vw;/*  */
      .tituloSectionP{
          margin-top: 2vh;
          padding: 1vh 10vw;
      }       
      .sectionP__texto{
        color: $color-inst4;   
        text-align: center;  
        padding: 2vh 5vw; 
        
    .sectionP__texto1{
      color: $color-inst3;   
      text-align: center;  
      padding: 2vh 6vw;
      
    }  }  
    p {
      font-family: "Cormorant Upright", serif;    
      font-size: 2.4vw;
      word-spacing: 0.2vw;
      line-height: 2.5vw;
      text-align: center;  
    }
  }
    /* FIN INDEX */
    
    /* NOSOTROS */
    .sectionP2{
      background-color: $color-inst1;
      @include sizes(94vw, 90vh); 
      display: flex;
      justify-content: center;
      align-items: center;           
      box-shadow: inset .6em .6em 2.5em rgba(0,0,0,.6), .6em .6em 2.5em rgba(0,0,0,.6); 
      margin: 10vh 0;
      border-radius: 1% 100% 1% 100% / 20%;     
    }
  
    .cinco{
      display: flex;
      flex-wrap: wrap;          
      .cincoSeis{      
          display: flex;
          flex-direction: column;    
          align-items: center;
          padding: 1vh 4vw 1vh 4vw;
          @include sizes(33%, 100vh); 
      }    
       img{
          border-radius: 100%;
          border: 8px solid $color-inst4;
      }
      .nombre {        
          font-weight: 500;
          color: $color-inst3;
          font-size: 2vw;
          text-transform: capitalize; 
          margin:5vh 0;
      }
      .matricula {        
          font-weight: 400;
          color:$color-inst2;
          font-size: 1.5vw;
          text-transform: uppercase;         
      }
    }   
  /* CONTACTO */
  form {
    font-family: "Cormorant Upright", serif;
    font-size: 3vh;
    margin: 10vh 18vw 10vh;  
    color: $color-inst1;
    .location,.signDate,.nameDatePhon { 
      display: flex;
      flex-direction: row;           
    }
    input {
      padding: 1vh 2vw 0 2vw;
      margin:0 1vw 0 0.5vw;
      border: none;    
      background-color: $color-inst4;
      color: $color-inst3;      
    }
    .closestSchool, .positionPlay,.size, .signDate{
      display: flex;
    }
    .wholeLine1{
      margin-left: 5vw; 
    }
    .wholeLine input {
      width: 76%;   
    }
    .location input{
      width: 20.5vw;
    }
    .closestSchool{
      display: flex;
      justify-content: space-between;
    }
  } 
  
  div{
    margin-bottom: 1vh;
  }
  div p {
  margin-bottom: 2vh;
  }
  .horarioAtencion{
    text-align: center;
    
  }
  iframe{
    border-radius: 10%;  
    @include sizes(40vw, 50vh); 
    border: 4px solid $color-inst2;
    margin-right: 5vw;
  }
  /* FIN CONTACTO */
  .infoImportant {   
    padding: 2vw;
  }
  
  /* FOOTER */
  footer {
    position: relative;
    overflow: hidden;
    border-radius: 100% 0 0 0 / 30%;
    background: $color-inst4;
    @include sizes(100vw, 35vh);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    box-shadow:
    inset 0 -0.5em 1em rgba(0,0,0,0.4),0 0  0 2px $color-inst2, 0.5em 0.5em 2.5em rgba(0,0,0,1);
    div p{
      display: flex;
    justify-content: center;
    align-items: center;
    }
    .logoTiny{
      @include sizes(15%, 15%); 
      padding: 2vh 2vh 2vw;
      border-radius: 0;
    }
    div.social-media-links  {		
      overflow: hidden;
      padding-top: 2vh;
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        display: inline;
        margin: 0;
        padding: 0;
      }    
      a {
        border-bottom: 0px solid rgba(0,0,0,0.95);
        border-radius: 4px;
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
        display: inline-block;
        height: 10vh;
        padding: 20px;
        position: relative;
        transition: .2s ease-in;
        width: 10vw;
        svg {
          left: -0.5vw;
          position: absolute;
          top: 6vh;
          @include sizes(10vw, 10vh); 
          &.glow {
            path, circle {
              fill: rgba(0,0,0,0);
            }
          }
          path, circle, .logoTiny {
            fill: $color-inst3;
            transition: .2s ease-in;
          }
        }
      }
      a:hover, div p #as:hover {
        transform: translateY(-4px);
        box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout($color-inst3, 75), 0 83px 4px 0px fadeout($color-inst3, 5);
        svg {
          &.glow {
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
            filter: blur(2px);
            path, circle {
              fill: fadeout($color-inst3, 40);
            }
          }
          path, circle {
            fill: $color-inst2;
          }
        }
      }
    }  
  }
  
  #as{
    font-family: "Cormorant Upright", serif;
    font-weight: bold;           
    color: $color-inst3;  
    font-size: 1.5vw; 
    text-transform: capitalize;          
    text-align: center; 
    margin-left: 0.5vw; 
    transition: transform 1s;
    border-bottom: 4px solid $color-inst1; 
    text-decoration: none;
  }
  #as:hover{
    border-bottom: 4px solid $color-inst5;  
    text-decoration: none;
    color:$color-inst2;   
    transform: translateY(-1.2vh);                  
  }
  
   /* FIN FOOTER */
  
  /* GRID */
  
  .grid {
    display: grid; 
    @include sizes(100vw, 100vh);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;   
    grid-template-columns:1fr 1fr;
    
    grid-template-areas:
      "header header"
      "titulo titulo"
      "principal principal"
      "cinco cinco"
      "sectionP2 sectionP2"    
      "pseudoCarousel pseudoCarousel"            
      "sectionP sectionP"       
      "infoCards infoCards"
      "infoCards2 infoCards2"
      "footer footer";
  
    header {
      grid-area: header;
    } 
    h1{
      grid-area: titulo;
    }
    section.sectionP2{
      grid-area: sectionP2;
    }
    section.cinco{
      grid-area: cinco;
    }
    .pseudoCarousel {
        grid-area: pseudoCarousel;     
    }
    .principal{
      grid-area: principal;
    }
      .sectionP {
        grid-area: sectionP;     
    }
      .infoCards {
        grid-area: infoCards;
    }
      .infoCards2 {
        grid-area: infoCards2;
    }
      footer {
        grid-area: footer;
    } 
  }
}



